<h1>
	Contact Us
</h1>
<div class="w3-panel">
        <a href="" target="_blank" class="fa fa-facebook w3-button w3-jumbo"></a>
        <a href="" target="_blank" class="fa fa-youtube-play w3-button w3-jumbo"></a>
		<a href="" target="_blank" class="fa fa-twitter w3-button w3-jumbo"></a>
		<div class="w3-panel standard">
			If you have any questions or queries, use the form below and we will get back to you as soon as possible.
		</div>
		<div class="w3-container w3-card-4 icePack w3-cell-row">
		<form style="width:50%;" class="w3-cell">
			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px;">
					<i class="fa fa-user w3-xxlarge">
					</i>
				</div>
				<div class="w3-col"  style="width:30%;">
					<input ng-model="name"class="w3-input w3-small" name="uName" type="text" placeholder="Name" />
				</div>
				<div ng-hide="validName">
					Invalid Name
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px;">
					<i class="fa fa-envelope w3-xxlarge">
					</i>
				</div>
				<div class="w3-col"  style="width:30%;">
					<input ng-model="email"class="w3-input w3-small" name="uEmail" type="email" placeholder="Email address" />
				</div>
				<div ng-hide="validEmail">
					Invalid Email
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px;">
					<i class="fa fa-comment w3-xxlarge">
					</i>
				</div>
				<div class="w3-rest">
					<input ng-model="message"class="w3-input w3-animate-input w3-small" name="uMessage" type="text" placeholder="Message"  style="width:30%;"/>
				</div>
				<div ng-hide="message">
					Message cannot be blank
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width:50px;">
					<i class="fa fa-check-circle w3-button w3-xxlarge {{validName&&validEmail&&message?'w3-green':0}}">
					</i>
				</div>
			</div>
		</form>
		<div class="w3-cell standard">
			<p>Address: 2 The High Street, Crawley, West Sussex, RH10 1BJ</p>
			<p>Telephone: +44 (0)1293 888 333</p>
			<p>Fax: +44 (0)1293 888 334</p>
			<p>Enquiry Email: <a href="enquiries@fancythat.co.uk">enquiries@fancythat.co.uk</a></p>
			<p>Orders Email: <a href="orders@fancythat.co.uk">orders@fancythat.co.uk</a></p>
		</div>
	</div>
</div>
